* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    background-color: rgb(2, 0, 83);
}

.image1 {
    width: 100px;
    height: 100px;
}